/* Projects Page */

.projects-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-heading {
    max-width: 950px;
    width: 100%;
    margin: -3rem auto 1rem;
}

.project-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    list-style-type: none;
    margin: 1rem;
}

.project-image {
    flex: 0 0 50%;
    max-width: 500px;
    padding: 1.2rem;
    width: 100%;
    height: auto;
    margin: 0;
}

.project-image-wurdle {
  max-width: 500px;
  padding-left: 5rem;
  width: 90%;
  height: auto;
  margin :0;
}

.project-description {
    flex: 1;
    padding: 0 1.5rem;
}

.project-title {
    max-width: 900px;
    margin: 1rem auto;
    padding: 0 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #A3585A;
}

/* Responsivity */
@media (max-width: 700px) {
    .ranklit-card {
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
    }
    .ranklit-image {
      margin-bottom: 1rem;
      max-width: 100%;
    }
    .projects-heading {
      width: 100%;
      margin: -1rem auto;
    }
    .project-image-wurdle {
      padding-left: 4rem;
      width: 80%;
      height: auto;
    }
  }
