/* Resume Page */

.resume-page {
    overflow-y: scroll;
    padding-top: 3rem;
}

.resume-actions {
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.resume-button { width: 20%; }

.resume-button:hover  {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

.resume-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    padding: 0 3rem 5rem;
}

.resume-figure-caption {
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-style: italic;
}
  
.resume-image {
    display: flex;
    flex: 1;
    width: 100%;
    max-width: 900px;
    height: auto;
    border: 1px solid var(--border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.experiences-scroll-container {
  height: 40vh;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Jersey 10", sans-serif;
}

.experience-caption h2,
.experience-caption p {
  margin: 0;
}

/* Mobile View */
  
@media (max-width: 700px) {
    .resume-page {
        flex-direction: column;
        align-items: center;
    }
    .resume-header { max-width: 100% }
    .resume-actions{ max-width: 90%; }
    .resume-button {
      max-width: 50%;
      margin-bottom: 1rem;
    }
    .resume-image-container { margin-left: 0; }
    .resume-image { max-width: 100%; }
    .resume-figure-caption {
      font-size: 1rem;
      margin-top: 0;
    }
  }